<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <!-- <classes>
      <class name="com.logicinvoice.testscripts.testLogin"/>
      <class name="com.logicinvoice.testscripts.testAddCustomer"/>
    </classes> -->
    <packages>
      <package name="com.logicinvoice.testscripts" />
   </packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
